
  <link rel="stylesheet" href="/css/css2.css">
<div class="pagebody">
    <div class="pagebodyshadow">
      <div class="txtbox" id="copyright">
        <p class="img">
          <img src="/img/abg3.jpeg">
        </p>
        <h3>支持与问题排查</h3>
        <div class="txtdl">
          <dl class="ac1">
            <dt>
              提交侵犯版权通知
            </dt>
            <dd>
              如果有人在未经版权所有者授权的情况下上传了受版权保护的内容，则该内容可能会被 网站移除。抗辩通知是一种向 网站 发出的法律要求，用途是恢复因涉嫌侵犯版权而被移除的视频。
            </dd>
          </dl>
          <dl class="ac2">
            <dt>版权警示基础知识</dt>
            <dd>
              如果您收到了版权警示，即表示您的视频已从 YouTube
              上移除。这是因为版权所有者向我们发送了完整有效的法律要求，要求我们将相关视频移除。如果版权所有者正式向我们发出通知，指出您未经许可擅自将他们的内容发布到了 YouTube
              上，我们就会根据版权法的规定移除您上传的内容。

            </dd>
          </dl>
          <dl class="ac3">
            <dt>撤消版权侵犯主张</dt>
            <dd>版权所有者可能会在提交版权侵犯通知后意识到自己指认的内容有误，也可能会改变了主意。如果出现这种情况，YouTube 将乐于为最初提交版权主张的一方撤消主张。</dd>
          </dl>
          <dl class="ac4">
            <dt>查看帐号状态</dt>
            <dd>
              查看版权警示状态和社区准则警示状态。
              <br>
              登录自己账户是否收到版权信息相关的通知！
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
<script>
  window.onload = function () {
    $('.content-nav').remove()
  }
</script>