<link rel="stylesheet" href="/css/css2.css">
<div class="pagebody">
  <div class="pagebodyshadow">
    <div class="txtbox" id="policy">
      <p>
        使用網站時，您會置身於一個成員遍布世界各地的大家庭。網站上每個精彩的新社區功能都是以一定程度的信任為基礎的。數以百萬計的用戶都尊重這份信任，我們希望您也承擔起相應的責任。為確保每個人都能獲得有趣又愉快的網站體驗，最好的方式就是遵循以下這些準則。

      </p>
      <p class="img">
        <img src="/img/abg2.jpeg">
      </p>
      <p>
        您可能不喜歡在網站上看到某些內容。如果您認為某些內容是不當內容，請使用舉報不當內容功能將其提交給我們的 員工進行審核。我們的員工全年無休，會仔細審核被舉報的內容，判斷它們是否違反了我們的社區準則。
      </p>
      <h3>社區準則</h3>
      <p>
        以下是一些常識性規則，可幫助您避免麻煩。請重視這些規則並牢記於心。不要試圖尋找這些規則中的漏洞或通過律師為您的行為開脫，請理解這些準則並儘量尊重製定這些準則的初衷。
      </p>
      <div class="txtdl">
        <dl class="ai1">
          <dt>
            裸露或色情內容
          </dt>
          <dd>
            我們的目的不是為了宣傳色情內容或露骨內容。如果您的視頻有此類內容，即使是關於您自己的視頻，也請勿在 網站上發布。另外請注意，我們與執法部門密切合作，會舉報任何關於剝削兒童的內容。
          </dd>
        </dl>
        <dl class="ai2">
          <dt>有危害性或危險性的內容</dt>
          <dd>
            切勿發布鼓動他人（特別是兒童）進行危險行為（可能會導致他們嚴重受傷）的視頻。對於展現此類有害或危險行為的視頻，我們可能會根據內容的嚴重程度設置年齡限製或將其移除。
          </dd>
        </dl>
        <dl class="ai3">
          <dt>宣揚仇恨的內容</dt>
          <dd>我們的產品鼓勵言論自由，但內容不得因種族或族裔、宗教信仰、殘障、性別、年齡、國籍、退伍軍人身份、種姓、性取向、性別認同等原因，宣揚或縱容針對個體或群體的暴力，也不得基於上述這些核心特徵煽動仇恨。
          </dd>
        </dl>
        <dl class="ai4">
          <dt>暴力或寫實性內容</dt>
          <dd>請勿為了嚇人或引起轟動而發布暴力或血腥內容，也不要無端發布這類內容。如果要在新聞或紀實性情境中發布這類寫實內容，請務必提供充足的信息，幫助用戶了解視頻中即將出現什麼內容。請勿慫恿他人實施特定的暴力行為。
          </dd>
        </dl>
        <dl class="ai5">
          <dt>威脅</dt>
          <dd>恃強凌弱、跟踪、威脅、騷擾、脅迫、侵犯隱私、洩露他人的個人信息以及煽動他人進行暴力行為或違反使用條款等行為將受到嚴肅處理。若發現任何人有以上行為，我們可能會永遠禁止其登錄 網站
          </dd>
        </dl>
        <dl class="ai6">
          <dt>版權</dt>
          <dd>
            尊重版權。僅上傳您製作的或您有權使用的視頻。也就是說，請勿上傳不是由您製作的視頻，也不要未經必要的授權就在您的視頻中使用他人擁有版權的內容，例如音樂曲目、受版權保護的節目的片段或由其他用戶製作的視頻。請訪問我們的版權中心了解詳細信息。
          </dd>
        </dl>
        <dl class="ai7">
          <dt>隱私權</dt>
          <dd>如果有人未經您許可擅自發布了您的個人信息或上傳了您的視頻，您可以根據我們的隱私權準則請求移除此類內容。</dd>
        </dl>
        <dl class="ai8">
          <dt>
            冒充別人
          </dt>
          <dd>根據我們針對冒充制定的政策，為了冒充其他頻道或個人而創建的帳號可能會被移除。</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    $('.content-nav').remove()
  }
</script>