<link rel="stylesheet" href="/css/css2.css">
<div class="pagebody">
  <div class="pagebodyshadow">
    <div class="txtbox" id="terms">
      <h4>簡介</h4>

      <p class="nt">
        感謝您使用 網站 平台以及我們透過平台向您提供的產品、服務和功能 (統稱為「服務」)。
        <br>
        本服務可讓您探索、觀看，以及分享影片和其他內容、為使用者提供網上平台，讓世界各地的人彼此聯繫交流以及互相啟發，而內容原創者和大小廣告客戶亦可利用此渠道發佈或宣傳。
      </p>



      <h4>適用條款</h4>
      <p class="nt">
        您使用本服務時受以下條款約束，包括《網站社群守則》及《政策、安全和版權政策》，這些條款可能會不時更新 (統稱為本「協議」)。
      </p>


      <h4>誰可使用本服務？</h4>
      <p class="nt">
        您必須年滿 13 歲才能使用本服務。然而，若經家長或法定監護人啟用，則所有年齡的兒童都可以使用
        <br>
        若您在所在國家/地區中屬於未成年人，即表示您已獲得家長或監護人的許可使用本服務。請讓他們與您一同閱讀本協議。
        <br>
        若您是所在國家/地區的未成年人的家長或法定監護人，您允許子女使用本服務將受本協議條款約束，並對子女於本服務上的活動負責。
      </p>


      <h4>上載內容</h4>
      <p class="nt">
        若您有 網站 頻道，您可將內容上載到本服務。您可以使用您的內容來推廣您的業務或藝術工作。若您選擇上載內容，則不得將任何不符合本協議(包括《網站社群守則》)
        或法律的內容上載至本服務.例如，除非您獲得第三方的許可或在法律上有權上載，否則您上載的內容不得包括第三方知識產權(例如受版權保護的內容等)。您對上載到本服務的內容負有法律責任。我們可能會使用自動化系統來分析您的內容，以助偵測侵權和濫用行為，例如垃圾郵件、惡意軟件和非法內容。
      </p>


      <h4>您授予的權利</h4>
      <p class="nt">
        您保留內容的擁有權，但我們會要求您向 網站 和本服務的其他使用者授予某些權利
      </p>

      <h4>授予其他使用者的許可</h4>
      <p class="nt">
        您還向本服務的每名使用者授予全球性、非專有、無版稅特許，讓使用者透過本服務存取並使用該內容，包括複製、發佈、進行二次創作、展示及放送，惟僅可以本服務功能(例如影片播放、嵌入等功能)
        存取及使用。謹此澄清，此許可並不授予使用者任何以非透過服務使用內容的權利或權限。
      </p>


      <h4>移除內容</h4>
      <p class="nt">
        您可隨時從本服務中移除您的內容，您還可選擇在移除前複製內容。若您不再擁有這些條款所要求的權利，您必須移除您的內容。
      </p>

      <h4>由 網站 移除內容</h4>
      <p class="nt">
        若我們有理由相信任何內容違反本協議或可能對 網站、網站
        的使用者或第三方造成損害，我們可酌情決定移除或移走該內容。我們有此行動時，會通知您並告知原因，惟倘我們合理認為如此通知會造成以下後果，則不作通知：(a)
        違反法律或執法機構的指示，或令網站或我們的聯繫公司承受法律責任的風險；(b) 將損害調查或本服務的完整性或運作；或(c) 會對任何使用者、其他第三方、網站或我們的聯繫公司造成損害。
      </p>


      <h4>版權保護</h4>
      <p class="nt">
        我們在「網站 版權中心」提供資訊，以協助版權持有人在網上管理其知識產權。若您認為他人透過本服務已經侵犯了您的版權，請通知我們。
        <br>
        我們收到有人涉嫌侵犯版權的通知後，會根據「網站 版權中心」的程序進行回覆，版權中心亦載有如何解決版權攻擊的資料。根據 網站 政策規定，在適當的情況下，屢次侵權者會被終止使用本服務。
      </p>
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    $('.content-nav').remove()
  }
</script>