<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
</head>
<body class="htmlp">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>關於我們</title>
  <link rel="stylesheet" href="/css/css2.css">
  <div class="head">
    <div class="logo">
      <!--logo-->
      <a href="/">
        <span>
          <img id="logo">
        </span>
      </a>
    </div>
    <div class="txtmenubtn"><a href="javascript:void(0);"></a></div>
    <div class="textnav">
      <ul>
        <li class="about now"><a href="/about">關於我們</a></li>
        <li class="policy"><a href="/policy">政策與安全</a></li>
        <li class="copyright"><a href="/copyright">版權</a></li>
        <li class="privacy"><a href="/privacy">隱私權</a></li>
        <li class="terms"><a href="/terms">條款</a></li>
      </ul>
    </div>
  </div>

  <div class="textnavbg"></div>

  <div class="pagebody">
    <div class="pagebodyshadow">
      <div class="txtbox" id="about">
        <p class="img">
          <img src="/img/abg1.jpeg">
        </p>
        <p>
          我們的使命是為每個人提供發聲的平台和觀察世界的窗口；我們認為每個人都有發聲的權利，如果我們彼此傾聽、分享並利用我們的故事建設自己的社區，這會讓世界變得更加美好.
        </p>
        <h3>我們遵循原則</h3>
        <div class="txtdl">
          <dl class="aa1">
            <dt>言論自由</dt>
            <dd>我們認為人們應該能夠自由表達、分享意見、激發開誠佈公的對話，而創作自由會催生新的聲音、形式和可能性。</dd>
          </dl>
          <dl class="aa2">
            <dt>信息自由</dt>
            <dd>我們認為每個人都應擁有方便、開放的信息獲取渠道，而視頻是傳播知識、促進理解和記錄全球大事小情的有力工具。</dd>
          </dl>
          <dl class="aa3">
            <dt>機會自由</dt>
            <dd>我們認為每個人都應有機會獲得認可、建立事業並取得自我定義的成功。流行趨勢是由大眾而非權威者來決定。</dd>
          </dl>
          <dl class="aa4">
            <dt>歸屬自由</dt>
            <dd>我們認為每個人都應能找到可以從中汲取支持的社區，破除隔閡並超越地理界限，因共同的興趣和激情而聚在一起。</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</body>

</html>