<div class="main main-detail">
    <div class="detail">
        <h3>{{{article.title}}}</h3>
        <span class="date">{{{article.date}}}</span>
        <div class="contaier">
            <div class="page">
                {{{article.content}}}
            </div>
        </div>
    </div>
</div>
<script>
    var date = document.querySelector('.date').innerText
    date = new Date(date)
    var t = date.toLocaleString('chinese', { hour12: false }).replace(/\//g, '-')
    document.querySelector('.date').innerText = t
</script>