<div class="main main-detail">
    <div class="detail">
        <h3>{{{article.title}}}</h3>
        <span>{{{article.date}}}</span>
        <div class="contaier">
            <div class="page">
                {{{article.content}}}
            </div>
        </div>
    </div>
</div>