<div class="main">
    {{#each list}}
    <div class="list-item io">
        <a href="/detail/{{article_id }}">
            <h3>{{ title }}</h3>
            <img class="lazy" src="{{ thumbnail }}" alt="{{ title }}">
        </a>
    </div>
    {{/each}}
</div>

