<link rel="stylesheet" href="/font/iconfont.css">
<div class="content-nav">
    <div class="nav-item">
        <h6>JSON工具</h6>
        <ul>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/json" role="tab">
                    <i class="iconfont icon-json"></i>
                    <div>
                        <span>json格式化,json解析</span>
                        <p>提供Json在线解析器,Json格式化,Json序列化,Json解析,Json校验</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/xmljson" role="tab">
                    <i class="iconfont icon-xml"></i>
                    <div>
                        <span>Json/Xml格式互转</span>
                        <p>在线Json转为Xml格式,支持Xml转换成Json格式的字符串</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-item">
        <h6>查询工具</h6>
        <ul>
            <li>
                <a class="nav-link active" id="v-pills-ip-tab" href="/page/ip" role="tab">
                    <i class="iconfont icon-ip"></i>
                    <div>
                        <span>IP地址查询</span>
                        <p>在线ip,IP查询,IP地址查询</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-phone-tab" href="/page/phone" role="tab">
                    <i class="iconfont icon-haoma"></i>
                    <div>
                        <span>手机号码归属地查询</span>
                        <p>手机号码,所在地,归属地,手机号码所在地查询</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-idcard-tab" href="/page/idcard" role="tab">
                    <i class="iconfont icon-2shenfenzhenghaoma"></i>
                    <div>
                        <span>身份证查询</span>
                        <p>身份证号码和姓名,居民身份证号码大全,验证身份证真实性和照片对比</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-weight-tab" href="/page/weight" role="tab">
                    <i class="iconfont icon-tizhong"></i>
                    <div>
                        <span>标准体重计算器</span>
                        <p>身高体重比例表,成人身高体重自测,健康体重</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/zipcode" role="tab">

                    <i class="iconfont icon-youbian"></i>
                    <div>
                        <span>邮编查地址</span>
                        <p>数据权威准确，数百万条数据，精确到区、县、街道</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/addresscode" role="tab">
                    <i class="iconfont icon-dizhi"></i>
                    <div>
                        <span>地址查邮编</span>
                        <p>数据权威准确，数百万条数据，精确到区、县、街道</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/dearm" role="tab">
                    <i class="iconfont icon-mengjing"></i>
                    <div>
                        <span>周公解梦</span>
                        <p>在线周公解梦查询工具</p>
                    </div>

                </a>
            </li>
        </ul>
    </div>
    <div class="nav-item">
        <h6>密码工具</h6>
        <ul>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/password" role="tab">
                    <i class="iconfont icon-mima1"></i>
                    <div>
                        <span>随机密码生成器</span>
                        <p>生成随机字符串/安全密码的工具</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-dearm-tab" href="/page/encrypt" role="tab">
                    <i class="iconfont icon-mima"></i>
                    <div>
                        <span>加密解密</span>
                        <p>在线生成字符串加密,解密,JS,算法,混淆,密钥,解码,编码,在线,安全,保护,隐私</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-item">
        <h6>语言工具</h6>
        <ul>
            <li>
                <a class="nav-link" id="v-pills-font-tab" href="/page/convert" role="tab">
                    <i class="iconfont icon-fuhao-ziti"></i>
                    <div>
                        <span>繁简转换</span>
                        <p>在线汉字简体繁体转换,qq个性繁体,火星文</p>
                    </div>
                </a>
            </li>
            <li>
                <a class="nav-link" id="v-pills-xhy-tab" href="/page/xhy" role="tab">
                    <i class="iconfont icon-zitiyanse"></i>
                    <div>
                        <span>歇后语</span>
                        <p>在线各种经典歇后语大全，5万多数据，节气、季节、动物、昆虫、人物、谐音、经典应有尽有，定期更新</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-item">
        <h6>智能工具</h6>
        <ul>
            <li>
                <a class="nav-link" id="v-pills-robort-tab" href="/page/robort" role="tab">
                    <i class="iconfont icon-a-zhinengjiqirenjiqiren"></i>
                    <div>
                        <span>智能问答机器人</span>
                        <p>在线智能问答机器人，上知天文，下知地理</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="loading-content">
    <div class="loading"></div>
</div>