<div class="page dream">
  <h5>周公解梦</h5>
  <div class="search-ip">
    <div class="form-group mx-sm-3 mb-2" style="margin-left: 0 !important;width: 300px">
      <label for="inputPassword2" class="sr-only">請輸入梦境信息</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="請輸入梦境信息">
    </div>
    <button class="btn btn-primary mb-2" onclick="getQuest()">查詢</button>
  </div>
  <div class="table">

  </div>
</div>
{{> nav}}
<script>
  function getQuest() {
    var v = $('#inputPassword2').val()
    if (!v) {
      return
    }
    var t = '{{t}}'
    var param = { keyword: v, pagenum: 1, pagesize: 10, t: t }
    $.ajax({
      type: "post",
      url: "/dearm",
      data: param,
      dataType: "json",
      success: function (res) {
        $('.table').children().remove()
        if (res.status === 0 && res.result.list) {
          var data = res.result.list
          for (var i = 0; i < data.length; i++) {            
           var oDiv = '<h6>'+ data[i].name +'</h6><div class="result">' + data[i].content + '</div>'
            $('.table').append(oDiv)
          }
        } else {
          var msg = '<p>' + res.msg + '</p>'
          $('.table').append(msg)
        }
      }
    });
  }
</script>