<div class="page mod-panel">
  <h5>加密解密</h5>
  <div class="bd">
    <h3>加密前字符串</h3>
    <p>
      <textarea id="input" name="input" class="form-control" rows="5"></textarea>
    </p>
    <div class="group" id="p_div" style="display:none;">
      <label for="pwd">密钥</label>
      <input type="text" id="pwd">
    </div>
    <div class="buttons text-center">
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">SHA1</button>
        <button type="button" class="btn btn-xs btn-primary">HmacSHA1</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">SHA224</button>
        <button type="button" class="btn btn-xs btn-primary">HmacSHA224</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">SHA256</button>
        <button type="button" class="btn btn-xs btn-primary">HmacSHA256</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">SHA384</button>
        <button type="button" class="btn btn-xs btn-primary">HmacSHA384</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">SHA512</button>
        <button type="button" class="btn btn-xs btn-primary">HmacSHA512</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">MD5</button>
        <button type="button" class="btn btn-xs btn-primary">HmacMD5</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">AES加密</button>
        <button type="button" class="btn btn-xs btn-primary">AES解密</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">DES加密</button>
        <button type="button" class="btn btn-xs btn-primary">DES解密</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">Rabbit加密</button>
        <button type="button" class="btn btn-xs btn-primary">Rabbit解密</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">RC4加密</button>
        <button type="button" class="btn btn-xs btn-primary">RC4解密</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">TripleDES加密</button>
        <button type="button" class="btn btn-xs btn-primary">TripleDES解密</button>
      </div>
      <div class="btn-group-vertical">
        <button type="button" class="btn btn-xs btn-success">base64加密</button>
        <button type="button" class="btn btn-xs btn-primary">base64解密</button>
      </div>
    </div>
    <h3>加密后字符串</h3>
    <p>
      <textarea id="output" name="output" class="form-control" rows="5"></textarea>
    </p>
  </div>
</div>
{{> nav}}
<script src="/js/encrypt.js"></script>
<script src="/js/jiami.js"></script>