<link rel="stylesheet" href="/font/iconfont.css">
<style>
  .home i {
    font-size: 40px !important;
    color: #009688
  }

  .home ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 100px;
  }

  .home li {
    margin: 10px;
    box-shadow: 0 0 7px 1px #ddd;
    border-radius: 10px;
  }

  .home li a {
    display: flex !important;
    flex-direction: column;
  }
</style>
<div class="home">
  <ul>
    <li>
      <a class="nav-link active" id="v-pills-ip-tab" href="/page/ip" role="tab">
        <i class="iconfont icon-ip"></i>
        IP查詢
      </a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-phone-tab" href="/page/phone" role="tab">
        <i class="iconfont icon-haoma"></i>
        号码归属地
      </a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-font-tab" href="/page/convert" role="tab">
        <i class="iconfont icon-fuhao-ziti"></i>
        繁简转换
      </a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-weight-tab" href="/page/weight" role="tab">
        <i class="iconfont icon-tizhong"></i>
        标准体重计算器
      </a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-robort-tab" href="/page/robort" role="tab">
        <i class="iconfont icon-a-zhinengjiqirenjiqiren"></i>
        智能问答机器人
      </a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-idcard-tab" href="/page/idcard" role="tab">
        <i class="iconfont icon-2shenfenzhenghaoma"></i>
        身份证查询
      </a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-xhy-tab" href="/page/xhy" role="tab">
        <i class="iconfont icon-zitiyanse"></i>
        歇后语</a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-dearm-tab" href="/page/dearm" role="tab"><i
          class="iconfont icon-mengjing"></i>周公解梦</a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-dearm-tab" href="/page/password" role="tab"><i
          class="iconfont icon-mima1"></i>随机密码生成器</a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-dearm-tab" href="/page/encrypt" role="tab"><i
          class="iconfont icon-mima"></i>加密解密</a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-dearm-tab" href="/page/zipcode" role="tab"><i
          class="iconfont icon-youbian"></i>邮编查地址</a>
    </li>
    <li>

      <a class="nav-link" id="v-pills-dearm-tab" href="/page/addresscode" role="tab"><i
          class="iconfont icon-dizhi"></i>地址查邮编</a>
    </li>
    <li><a class="nav-link" id="v-pills-dearm-tab" href="/page/json" role="tab"><i
          class="iconfont icon-json"></i>JSON格式化</a></li>
    <li><a class="nav-link" id="v-pills-dearm-tab" href="/page/xmljson" role="tab"><i
          class="iconfont icon-xml"></i>Json/Xml格式互转</a></li>
  </ul>
</div>
{{> nav}}