<div class="page idcard">
  <h5>身份證查詢驗證信息</h5>
  <div class="search-ip">
    <div class="form-group mx-sm-3 mb-2" style="margin-left: 0 !important;">
      <label for="inputPassword2" class="sr-only">請輸入15位或者18位身份證號</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="請輸入15位或者18位身份證號">
    </div>
    <button class="btn btn-primary mb-2" onclick="getIdcard()">查詢</button>
  </div>
  <table style="display: none;">
    <thead>
      <tr>
        <th colspan="2">
          <p class="search-result search-result-ip">查询结果</p>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <p>省</p>
        </td>
        <td class="province">
        </td>
      </tr>
      <tr>
        <td>市</td>
        <td class="city"></td>
      </tr>
      <tr>
        <td>县</td>
        <td class="town"></td>
      </tr>
      <tr>
        <td>性别</td>
        <td class="sex"></td>
      </tr>
      <tr>
        <td>出生年月</td>
        <td class="birth"></td>
      </tr>
      <tr>
        <td>区域信息</td>
        <td class="area"></td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  function getIdcard() {
    var idCard = $('#inputPassword2').val()
    if (!idCard) {
      return
    }
    if(!(idCard.length === 15 || idCard.length === 18)){
      alert('身份证信息不正确')
      return
    }
    var param = { idcard: idCard }
    console.log(param)
    $.ajax({
      type: "post",
      url: "/idcard",
      data: param,
      dataType: "json",
      success: function (res) {
        console.log(res)
        var data = res.result
        resultMsg(data)
      }
    });
  }
  function resultMsg(data) {
    $('.province').text(data.province)
    $('.city').text(data.city)
    $('.town').text(data.town)
    $('.sex').text(data.sex)
    $('.birth').text(data.birth)
    $('.area').text(data.area)
    $('table').css("display", 'block')
  }
</script>
