<div class="page mod-panel">
  <h5>在线随机字符串/安全密码生成工具</h5>  
  <div class="bd">
    <h3>密码字符</h3>
    <div class="row">
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ" checked> 大写字母
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="abcdefghijklmnopqrstuvwxyz" checked> 小写字母
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="0123456789" checked> 数字
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="!#$%&amp;-=@^_~*?+"> 特殊字符
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="01"> 二进制
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="01234567"> 八进制
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="0123456789ABCDEF"> 大写十六进制
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" value="0123456789abcdef"> 小写十六进制
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="checkbox-inline">
          <input type="checkbox" name="zifu" id="zifu" value="abcdefghijklmnopqrstuvwxyz"> <input type="text" id="izifu"
            class="form-control input-sm" placeholder="自定义字符范围" onkeyup="$('#zifu').val(this.value);"
            onafterpaste="$('#zifu').val(this.value);" disabled>
        </label>
      </div>
    </div>
    <hr>
    <h3>密码位数</h3>
    <div class="row tlink12">
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="4"> 4位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="5"> 5位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="6"> 6位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="7"> 7位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="8" checked> 8位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="9"> 9位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="10"> 10位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="12"> 12位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="14"> 14位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="16"> 16位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="18"> 18位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="32"> 32位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="64"> 64位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="100"> 100位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="128"> 128位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="256"> 256位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="512"> 512位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="999"> 999位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="1000"> 1000位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" value="1024"> 1024位
        </label>
      </div>
      <div class="col-sm-3 col-xs-6">
        <label class="radio-inline">
          <input type="radio" name="weishu" id="weishu" value="8"> <input id="iweishu" type="text"
            class="form-control input-sm" placeholder="自定义密码位数"
            onkeyup="this.value=this.value.replace(/\D/g,'');if (this.value>2048){this.value='2048'};$('#weishu').val(this.value);"
            onafterpaste="this.value=this.value.replace(/\D/g,'');if (this.value>2048){this.value='2048'};$('#weishu').val(this.value);"
            disabled>
        </label>
      </div>
    </div>
    <hr>
    <p>
      <textarea id="result" class="form-control" rows="5"></textarea>
    </p>
    <p class="buttons text-center">
      <input type="button" id="shengcheng" value="随机生成密码" class="btn btn-primary" />
      <input type="button" onclick="$('#result').val('');" value="清除" class="btn btn-default" />
      <input type="button" onclick="$('#result').select();document.execCommand('result');" value="复制"
        class="btn btn-default" />
    </p>
  </div>
  <script src="/js/password.js"></script>