<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8">
</head>

<body class="htmlp">




  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

  <title>關於我們</title>


  <link rel="stylesheet" href="/css/css2.css">




  <div class="head">
    <div class="logo">
      <!--logo-->
      <a href="/">
        <span>
          <img id="logo">
        </span>
      </a>
    </div>
    <div class="txtmenubtn"><a href="javascript:void(0);"></a></div>
    <div class="textnav">
      <ul>
        <li class="about"><a href="/about">關於我們</a></li>
        <li class="policy"><a href="/policy">政策與安全</a></li>
        <li class="copyright"><a href="/copyright">版權</a></li>
        <li class="privacy now"><a href="/privacy">隱私權</a></li>
        <li class="terms"><a href="/terms">條款</a></li>
      </ul>
    </div>
  </div>

  <div class="textnavbg"></div>

  <div class="pagebody">
    <div class="pagebodyshadow">
     


   
      <div class="txtbox" id="privacy">
        <!--<p class="img">
                    <img src="/content/images/abg4.jpg" />
                </p>-->
        <p>
          隱私權政策
          <br>
          1、本網站將保護您提供給本網站的個人資訊和數據，未經您的同意，本網站不會任意將您的個人數據披露、出售、出租或轉讓予任何第三者。<br>
          2、本網站的隱私權政策將視實際情形而隨時做出修訂並予更新公佈。<br>
          3、本網站利用合適的安全措施保護您提供給本網站的個人資訊，包括製定責任機制、建立工作流程和安全管理制度、採取防洩密措施和安全儲存措施等，以避免您的個人資訊未經授權的訪問、使用或洩漏。<br>
          4、本網站依法保護未成年人的個人資訊。如您年齡未滿18周歲，在輸入您的個人資訊之前，請征得您家長或法定監護人的書面同意。<br>
          5、當您完成帳號注册後，您可以查閱或修改您提交給我們的個人資訊。一般情况下，您可隨時查閱、修改自己提交的資訊，但出於安全性和身份識別的考慮，我們可能會要求您進行身份驗證，以保障帳戶安全。<br>
          6、我們可能使用您的相關個人資訊，向您提供與您更加相關的廣告。我們也可能使用您的個人資訊，通過電子郵件、手機短消息或其他管道向您發送我們或者協力廠商的商業性資訊。如您不希望我們將您的個人資訊用作前述廣告用途，您可以通過我們提供的指引，要求我們停止為上述用途使用您的個人資訊。
        </p>

        {{!-- <p>
          Cookies使用<br>
          1、本網站將在您的電腦上設定並取用cookies，以便本網站可辨認出您為返回用戶，並跟踪及鎖定您喜好的數據。<br>
          2、某些在本網站網頁上發佈廣告的廠商或我們的業務夥伴和服務供應商也可在您的電腦上設定並取用cookies，在此情形下應遵循該等廠商、業務夥伴或供應商自訂的隱私權保護政策，我們對該等“cookie”無權接觸也無法控制，且不為這些“cookie”的使用承擔任何責任。<br>
          3、Cookies的使用在於追跡您在本網站的活動，以利於我們進行網站管理及和數據收集、統計和分析，進而為您提供更好的服務。<br>
          4、如果您不想接受本網站cookies，您可透過網絡瀏覽器的選項設定拒絕cookies，但此舉可能會造成您在使用本網站的部分服務時受到限制。<br>

          如果您對上述隱私權政策有任何質疑、意見或擔心，敬請來信告知，對於您對本網站的關愛，我們表示誠摯的感謝。<br>
          如果您無法遵守本最新隱私權政策，請勿申請和使用本網站提供之服務，謝謝您的合作！
        </p> --}}
      </div>

   
    </div>
  </div>
</body>

</html>