<div class="page robort">
  <h5>智能问答机器人</h5>
  <div class="search-ip">
    <div class="form-group mx-sm-3 mb-2" style="margin-left: 0 !important;">
      <label for="inputPassword2" class="sr-only">請輸入問題：</label>
      <input type="text" class="form-control" id="inputPassword2" placeholder="請輸入問題：">
    </div>
    <button class="btn btn-primary mb-2" onclick="getQuest()">提交</button>
  </div>
  <div class="requestion">
    <div style="text-align: center;">
      <svg t="1653735324164" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2756"
        width="64" height="64">
        <path d="M28.668 367.46H114.8v36H28.668z" fill="#6E6E96" p-id="2757"></path>
        <path
          d="M904.944 637.676c0 72.088-58.976 131.068-131.064 131.068H245.864c-72.088 0-131.068-58.976-131.068-131.068V186.984c0-72.088 58.98-131.068 131.068-131.068h528.02c72.084 0 131.064 58.98 131.064 131.068v450.692z"
          fill="#E2E2EA" p-id="2758"></path>
        <path
          d="M830.064 83.708a125.788 125.788 0 0 1 14.58 58.816v436.492c0 69.816-57.124 126.94-126.94 126.94H206.324a125.784 125.784 0 0 1-58.816-14.576c21.3 40.4 63.74 68.12 112.364 68.12h511.38c69.82 0 126.94-57.12 126.94-126.94V196.072c-0.004-48.624-27.724-91.06-68.128-112.364z"
          fill="#6E6E96" opacity=".2" p-id="2759"></path>
        <path
          d="M173.788 662.892V234c0-68.6 56.128-124.728 124.728-124.728h502.476c20.156 0 43.184 2.728 43.184 2.728-14.84-46.668-49.896-57.884-98.336-57.884H243.364c-68.6 0-124.728 56.128-124.728 124.728v428.892c0 48.444 14.7 78.928 61.956 95.532-8.588-16.892-6.804-20.22-6.804-40.376z"
          fill="#FFFFFF" p-id="2760"></path>
        <path
          d="M773.884 786.744H245.864c-82.196 0-149.068-66.872-149.068-149.068V186.984c0-82.196 66.872-149.068 149.068-149.068h528.02c82.196 0 149.072 66.872 149.072 149.068v450.692c-0.012 82.196-66.876 149.068-149.072 149.068zM245.864 73.916c-62.344 0-113.068 50.724-113.068 113.068v450.692c0 62.344 50.724 113.068 113.068 113.068h528.02c62.344 0 113.072-50.724 113.072-113.068V186.984c0-62.344-50.728-113.068-113.072-113.068H245.864z"
          fill="#6E6E96" p-id="2761"></path>
        <path d="M337.612 292.892m-121.704 0a121.704 121.704 0 1 0 243.408 0 121.704 121.704 0 1 0-243.408 0Z" fill="#94E5FF"
          p-id="2762"></path>
        <path
          d="M337.612 432.596c-77.032 0-139.704-62.672-139.704-139.708 0-77.032 62.672-139.704 139.704-139.704 77.036 0 139.708 62.672 139.708 139.704 0 77.036-62.672 139.708-139.708 139.708z m0-243.412c-57.184 0-103.704 46.52-103.704 103.704 0 57.184 46.52 103.708 103.704 103.708 57.184 0 103.708-46.524 103.708-103.708S394.796 189.184 337.612 189.184z"
          fill="#6E6E96" p-id="2763"></path>
        <path d="M683.548 292.892m-121.704 0a121.704 121.704 0 1 0 243.408 0 121.704 121.704 0 1 0-243.408 0Z" fill="#94E5FF"
          p-id="2764"></path>
        <path
          d="M683.548 432.596c-77.036 0-139.708-62.672-139.708-139.708 0-77.032 62.672-139.704 139.708-139.704 77.032 0 139.704 62.672 139.704 139.704-0.004 77.036-62.672 139.708-139.704 139.708z m0-243.412c-57.188 0-103.708 46.52-103.708 103.704 0 57.184 46.52 103.708 103.708 103.708 57.18 0 103.704-46.524 103.704-103.708-0.004-57.184-46.524-103.704-103.704-103.704zM901.204 367.46h86.128v36h-86.128z"
          fill="#6E6E96" p-id="2765"></path>
        <path d="M396.168 768.744h220.94v217.924H396.168z" fill="#B4B7C9" p-id="2766"></path>
        <path d="M635.108 1004.668H378.168v-253.924h256.94v253.924z m-220.94-36h184.94v-181.924h-184.94v181.924z"
          fill="#6E6E96" p-id="2767"></path>
        <path d="M337.612 546.484h345.936v104.856H337.612z" fill="#BFBFBF" p-id="2768"></path>
        <path
          d="M683.548 669.34H337.612a18 18 0 0 1-18-18v-104.856a18 18 0 0 1 18-18h345.936c9.936 0 18 8.06 18 18v104.856c0 9.94-8.064 18-18 18z m-327.936-36h309.936v-68.856H355.612v68.856z"
          fill="#6E6E96" p-id="2769"></path>
        <path
          d="M575.408 669.34a18.004 18.004 0 0 1-18-18v-104.856a18.004 18.004 0 0 1 36 0v104.856a18 18 0 0 1-18 18zM448.084 669.34a18 18 0 0 1-18-18v-104.856a18 18 0 0 1 36 0v104.856a18 18 0 0 1-18 18zM396.168 822.928h220.94v36H396.168zM396.168 895.512h220.94v36H396.168z"
          fill="#6E6E96" p-id="2770"></path>
        <path
          d="M543.84 786.744h55.268v181.924H543.84zM339.208 222.208c51.576 0 94.78 35.736 106.276 83.792a109.44 109.44 0 0 0 3.024-25.512c0-60.364-48.936-109.304-109.3-109.304S229.904 220.12 229.904 280.488c0 8.788 1.064 17.324 3.024 25.512 11.5-48.056 54.704-83.792 106.28-83.792zM683.548 222.208c51.572 0 94.776 35.736 106.272 83.792a109.44 109.44 0 0 0 3.024-25.512c0-60.364-48.936-109.304-109.296-109.304-60.368 0-109.304 48.936-109.304 109.304 0 8.788 1.064 17.324 3.024 25.512 11.496-48.056 54.7-83.792 106.28-83.792z"
          fill="#6E6E96" opacity=".2" p-id="2771"></path>
        <path d="M355.612 564.484h309.936v34.428H355.612z" fill="#6E6E96" opacity=".3" p-id="2772"></path>
        <path d="M338 298m-32 0a32 32 0 1 0 64 0 32 32 0 1 0-64 0Z" fill="#6E6E96" p-id="2773"></path>
        <path d="M683.548 298m-32 0a32 32 0 1 0 64 0 32 32 0 1 0-64 0Z" fill="#6E6E96" p-id="2774"></path>
      </svg>
    </div>
    <div class="request" style="font-size: 20px;font-family:cursive"></div>    
  </div>
</div>
<script>
  function getQuest() {
    var v = $('#inputPassword2').val()
    if (!v) {
      return
    }
    var t = '{{t}}'
    var param = { question: v, t: t }
    $.ajax({
      type: "post",
      url: "/robort",
      data: param,
      dataType: "json",
      success: function (res) {
        if(res.status === 0){
          var data = res.result
          resultMsg(data)
        }else{
          alert(res.msg)
        }
      }
    });
  }
  function resultMsg(data) {
    $('.request').html(data.content)
  }
</script>